langchain==0.3.20
langchain-openai==0.3.8
langchain_community==0.3.19
langgraph==0.3.10
langgraph-cli[inmem]
youtube-search
youtube-transcript-api
pytube
pypdf
sentence_transformers
chromadb
faiss-cpu
langchain-openai
openai